---
import styles from "./Services.module.scss";
import Service from "../Service/Service.astro";
export interface Props {
  services: any[];
}
const { services } = Astro.props;
---

<section class={styles.services}>
  <h3>Co naízíme?</h3>
  <div class={styles.list}>
    {
      services.map((service: any) => (
        <Service
          icon={service.icon}
          name={service.title}
          description={service.description}
          link={service.path}
        />
      ))
    }
  </div>
</section>
