---
import styles from "@/modules/home/Home.module.scss";
import Layout from "@/layouts/Layout/Layout.astro";
import Banner from "@/modules/home/components/Banner/Banner.astro";
import Services from "@/modules/home/components/Services/Services.astro";
import WhyUs from "../components/WhyUs/WhyUs";
import Technologies from "@/modules/home/components/Technologies/Technologies";
---

<Layout>
  <div class={styles.wireframe}>
    <img  src="/img/wireframe.svg" alt="">
  </div>
  <div class={`main-container ${styles.home}`}>
    <Banner />
    <div class={styles.under_banner}>
      <div class={styles.item}>
          <div class={styles.icon}>
            <img src="/img/icons/pencil.svg">

          </div>
          <div class={styles.text}>
              <h3>Design</h3>
              <p>Jíme i očima. To stejné platí o vašem podniku. Pomůžeme vám zdokonalit vzhled vašeho webu.</p>
          </div>
      </div>
      <div class={styles.item}>
          <div class={styles.icon}>
            <img src="/img/icons/settings.svg">

          </div>
          <div class={styles.text}>
              <h3>Vývoj</h3>
              <p>Od začátku do konce. Vyvineme a poradíme. S námi vždy víte do čeho jdete.</p>
          </div>
      </div>
      <div class={styles.item}>
          <div class={styles.icon}>
              <img src="/img/icons/security.svg">
          </div>
          <div class={styles.text}>
              <h3>Testování</h3>
              <p>U vývoje to nekončí. Jsme vám k dispozici i pro testing a aftercare. Nenecháme vás ve štychu.</p>
          </div>
      </div>
    </div>
    <Services />
    <Technologies client:visible/>
    <WhyUs />
  </div>
</Layout>